anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
babel
backcall
beautifulsoup4
blas
bleach
blosc
bottleneck
brotli
brotli-bin
brotlipy
bzip2
ca-certificates
certifi
cffi
cfitsio
charls
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cryptography
cuda-cccl
cuda-cudart
cuda-cudart-dev
cuda-cupti
cuda-libraries
cuda-libraries-dev
cuda-nvrtc
cuda-nvrtc-dev
cuda-nvtx
cuda-runtime
cycler
cython
cytoolz
dask-core
debugpy
decorator
defusedxml
eigen
entrypoints
executing
ffmpeg
filelock
flit-core
fonttools
freetype
fsspec
giflib
glib
gst-plugins-base
gstreamer
hdf5
icc_rt
icu
idna
imagecodecs
imageio
importlib-metadata
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
jpeg
json5
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jxrlib
kiwisolver
lcms2
lerc
libaec
libbrotlicommon
libbrotlidec
libbrotlienc
libclang
libcublas
libcublas-dev
libcufft
libcufft-dev
libcurand
libcurand-dev
libcusolver
libcusolver-dev
libcusparse
libcusparse-dev
libdeflate
libffi
libiconv
libnpp
libnpp-dev
libnvjpeg
libnvjpeg-dev
libogg
libpng
libprotobuf
libsodium
libtiff
libuv
libvorbis
libwebp
libwebp-base
libxml2
libxslt
libzopfli
locket
lxml
lz4-c
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mistune
mkl
mkl-service
mkl_fft
mkl_random
mpmath
munkres
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numexpr
numpy
numpy-base
opencv
openjpeg
openssl
packaging
pandas
pandocfilters
parso
partd
pcre
pickleshare
pillow
pip
platformdirs
ply
pooch
prometheus_client
prompt-toolkit
prompt_toolkit
psutil
pure_eval
pycocotools
pycparser
pygments
pyopenssl
pyparsing
pyqt
pyqt5-sip
pyrsistent
pysocks
python
python-dateutil
python-fastjsonschema
python_abi
pytorch
pytorch-cuda
pytorch-mutex
pytz
pywavelets
pywin32
pywinpty
pyyaml
pyzmq
qt-main
qt-webengine
qtconsole
qtpy
qtwebkit
requests
scikit-image
scipy
send2trash
setuptools
sip
six
snappy
sniffio
soupsieve
sqlite
stack_data
sympy
terminado
tifffile
tinycss2
tk
toml
tomli
toolz
torchvision
tornado
traitlets
typing-extensions
typing_extensions
tzdata
ucrt
urllib3
vc
vs2015_runtime
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
win_inet_pton
wincertstore
winpty
xz
yaml
zeromq
zfp
zipp
zlib
zstd
